/* Design System
---- 01 TYPOGRAPHY sUYSTEM

- SPACING SYTEM (px) 
2 /4 / 8/ 12 / 16 /24 /32 /48 / 64/ 80/ 96 /128
- FONT SIZE SYSTEM (px)
10 /12 /14 /16 /18 /24 /30/ 36 /44 / 52 /62 /74 / 86 /98

- FONT-WEIGHTS
Default: 400
Footer Font Weight: 800

- LINE HEIGHTS
DEFAULT:1.4 [Body]
PARAGRAPHS: 1.5
 1.25;


--- 02 COLOURS
MAIN COLOURS : #087f5b
MAIN COLOR_1 #2c5f2d HAS A BETTER CONTRAST RATIO
GREY COLOR : #212529

- Primary:
- Tints:
- Shades:
- Accents
- Greys:
# 555


---05 Shadows-------

---06 BORDER RADIUS-------
  Contact Us Form 10px;

---07 WHITESPACING SYSTEM--------
2 /4 / 8/ 12 / 16 /24 /32 /48 / 64/ 80/ 96 /128

---- 08 Images ------------
unspalsh.com, UIfaces.co
*/

/*
MAIN COLOURS : #087f5b
MAIN COLOR_1 #2c5f2d HAS A BETTER CONTRAST RATIO
GREY COLOR : #212529
Secondary Color: #416f42
Foooter: #black
*/
*/

/* Makes sizing form elements more consistent. border-box is helpful
for specifying widthd in percentages. */
/* Have the Page settings on Top */
/* GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  /* 16/16 = 100%, 10/16 = 62.5% */
  /*  1rem  = 16px;  % of users browsers font-size setting  */
  /* Specify everything in REM so that then when the screen size shrinks, we can jsut change font-size here
  and this will be reflected through the pages. Lecture 105. */
}
* {
  box-sizing: inherit;
}
/* Advised on HTML/CSS Course to reset all margins and padding*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "inter", sans-serif; /* Google Font */
  font-size: 100%;
  margin: 2em 10%;
  line-height: 1.4; /* Advised on HTML/CSS Course */
  height: 100%;
  font-weight: 400;
  color: #212529;
  /* color: #555; */
  /* background-color: #eeecec; */
  background-color: #fff;
}
/***********************************************/
/*HEADER SECTION */
/***********************************************/

.main_header {
  /* border: #04699d 1px solid; */
  background-color: #f7f7f7;
  color: #666; /* Text color for the header */
  /* padding: 20px 0 10px 0; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 50px;
}

.logo img {
  max-width: 200px; /* Set the maximum width of the logo */
  height: auto; /* Maintain aspect ratio */
}

.logo {
  height: 1rem;
}

/* Smaller Headings */
p {
  font-size: 1em;
  /* font-family: sans-serif; */
  line-height: 1.5; /* No units required as it is 1.5 the font size. */
  margin-bottom: 20px;
  overflow: hidden;
  /* Recommended that lines should not be longer than 75 characters */
  max-width: 75ch;
}

/* Basic Font Styling*/
h1 {
  font-size: 1.6em;
  margin: 0 0 1.5em 0;
  letter-spacing: -1px;
  color: #013301;
  /* /36  44 / 52 /62 */
}
h2 {
  /* font-size: 1.2em; */
  margin: 0 0 1em 0;
  font-size: 36px;
  letter-spacing: -2px;
  color: #2c5f2d;
  text-align: center;
  /* 24 / 30/ 36 */
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  color: #2c5f2d;
}
em {
  font-size: 1.2em;
  font-weight: bold;
  /* color: rgba(0, 0, 0, 0.4); */
  color: #2c5f2d;
}
ul,
ol {
  margin-left: 50px;
}

h6 {
  color: #04699d;
}
#wrapper {
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  width: 85%;
  /* border-bottom: 8px solid #2c5f2d; */
  /* height: 100%; */
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: black;
  font-weight: 800;
}
/* ========= CLEARING OUT LIST STYLES ========= */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* ========= ADDING SPACE BELOW LIST ITEMS IN FORM 
(EXCEPT FOR CHECKBOXES AND RADIO BUTTONS) ========= */

ul li {
  margin-bottom: 1em;
}

/* ========= FORM DIMENSIONS AND STYLING =========  */

form {
  max-width: 40em;
  border: 1px solid #666;
  border-radius: 70px;
  background-color: #181618;
  padding: 1em;
}

/* ========= FLEXBOX ALIGNMENT STYLES ============ */

li {
  /* the label and input become flex items within each list item */
  /* Wrapping is turned on so labels stack above inputs on narrow viewports */
  display: flex;
  flex-wrap: wrap;
}
label {
  /* labels are fixed at 8ems wide with a little margin to keep them 
  from bumbing into other elements */
  flex: 0 0 8em;
  margin-right: 1em;
  margin-bottom: 4px;
  color: #04699d;
}

input,
textarea,
fieldset {
  /* form inputs and fieldsets are fully flexible to fill the available width */
  flex: 1 1 20em;
}

/* Corodinated Fonts across for all form elements. Pg. 548*/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.item {
  flex: 1 1 0px;
  /* margin-bottom: 1em; */
  /* border: 1px solid #666; */
  /* padding: 1em; */
  /* background-color: #f7f7f7; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3); */
}

/***********************************************/
/*Navigation */
/***********************************************/
.primary-nav {
  list-style-type: none;
  /* display: flex; */
  margin: 0;
  padding: 0px 20px 0px 20px;
  /* display: flex; */
  /* font-size: 1rem; */
  /* background-color: #2c5f2d; */
}

.primary-nav ul {
  list-style-type: none;
  display: flex;
  background-color: #2c5f2d;
  justify-content: end;
  align-items: stretch;
  gap: 2rem;
}
/* .primary-nav li {
  padding: 0 1px 0 1px;
} */
.primary-nav li a {
  color: #fff;
  /* background-color: #2c5f2d; */
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  /* border: black 3px solid; */
  /* border-radius: 10px; */
  display: block;
  font-size: 1rem;
}

.primary-nav li a:link,
.primary-nav li a:visited {
  color: #fff;
  display: inline-block;
  /* background-color: #416f42; */
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  /* border: black 3px solid; */
  /* border-radius: 10px; */
  display: block;
  font-size: 1rem;
}

.primary-nav li a:hover,
.primary-nav li a:active {
  color: #000;
  display: inline-block;
  font-weight: bold;
  /* background-color: #2c5f2d; */
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  /* border: black 3px solid; */
  /* border-radius: 10px; */
  display: block;
  font-size: 1rem;
}
.images-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  /* border: #04699d 1px solid; */
  height: auto;
  background-color: #eeecec;
  gap: 20px;
}

.row {
  /* DEFAULT 
  flex-grow:0;
  flex-shrink:1;
  flex-basis:auto;
  */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  gap: 20px;
}
/* ========= Moving nav from vertical to horizonatal ========= */
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* ========= ADDING SPACE BELOW LIST ITEMS IN FORM 
(EXCEPT FOR CHECKBOXES AND RADIO BUTTONS) ========= */

ul li {
  margin-bottom: 1em;
}
#colors ul li,
#features ul li {
  margin-bottom: 0;
}

/* ========= FORM DIMENSIONS AND STYLING =========  */

form {
  max-width: 40em;
  border: 1px solid #666;
  border-radius: 10px;
  background-color: #f2f5d5;
  padding: 1em;
  display: none;
}

/*  ========= FORM WIDGET STYLES  ========= */
/* Fonts are set to "inherit" the font-family of the document.*/
input.textinput {
  height: 2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 6px;
  font-family: inherit;
  font-size: 0.875em;
  width: 10px;
}
textarea {
  display: block;
  height: 5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 6px;
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.25;
  overflow: auto;
  resize: none;
}

input[type="submit"] {
  /* I've changed the style of the button and set its side margins to "auto" so it is 
	always centered in the width of the form */
  width: 10em;
  height: 2em;
  background: white;
  border: 1px solid #04699d;
  border-radius: 4px;
  font-size: inherit;
  flex: 0 1 8em;
  margin: 0 auto;
}

/*  ========= Styling Specific to Index.html  ========= */
.flex {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
  /* height:600px; */
}

.flex div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.flex div:last-child {
  margin: 2rem;
  flex: 2;
}
.flex h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.flex p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.flex p:last-of-type {
  margin-bottom: 0px;
}

.flex:first-of-type div:first-child {
  background-image: url("./images/generic_farmer_with_phone.jpg");
}

/* Herd Management Styling */
.flex-herd-management {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
}

.flex-herd-management div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.flex-herd-management div:last-child {
  margin: 2rem;
  flex: 2;
}
.flex-herd-management h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.flex-herd-management p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.flex-herd-management p:last-of-type {
  margin-bottom: 10px;
}

.flex-herd-management:first-of-type div:first-child {
  background-image: url("./images/IMG_20231022_155731_red_1.jpg");
}

.flex-herd-management a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #2c5f2d;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}

/* AgriIoT Styling */
.agri-iot {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  border: 5px solid #333;
  margin-bottom: 2rem;
}

.agri-iot div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.agri-iot div:last-child {
  margin: 2rem;
  flex: 2;
}
.agri-iot h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.agri-iot p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.agri-iot p:last-of-type {
  margin-bottom: 10px;
}

.agri-iot:first-of-type div:first-child {
  background-image: url("./images/IMG_20231030_124312_red.jpg");
}
.agri-iot a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #2c5f2d;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}
/* Slurry Management Styling */
.slurry-management {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
}

.slurry-management div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.slurry-management div:last-child {
  margin: 2rem;
  flex: 2;
}
.slurry-management h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.slurry-management p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.slurry-management p:last-of-type {
  margin-bottom: 10px;
}

.slurry-management:first-of-type div:first-child {
  background-image: url("./images/IMG_20231030_124453_red.jpg");
}
.slurry-management a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #2c5f2d;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style for Winter Fodder Management */
/* Style for Winter Fodder Management */
/* styling fpr span */
.register_birth_error_msg {
  /* display: none; */
  color: red;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.register_new_animal_error_msg {
  /* display: none; */
  color: red;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.ai_error_msg {
  color: red;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.winter-fodder-management {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
}

.winter-fodder-management div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.winter-fodder-management div:last-child {
  margin: 2rem;
  flex: 2;
}
.winter-fodder-management h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.winter-fodder-management p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.winter-fodder-management p:last-of-type {
  margin-bottom: 10px;
}

.winter-fodder-management:first-of-type div:first-child {
  background-image: url("./images/IMG_20231030_124541_red.jpg");
}

.winter-fodder-management a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #2c5f2d;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Style for Winter Fodder Management */
.time-management {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
}

.time-management div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.time-management div:last-child {
  margin: 2rem;
  flex: 2;
}
.time-management h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.time-management p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.time-management p:last-of-type {
  margin-bottom: 10px;
}

.time-management:first-of-type div:first-child {
  background-image: url("./images/clock-33989_1280.png");
}

.time-management a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #2c5f2d;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Style for Winter Farm Alerts 
.farm-alerts {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
} */

/* .farm-alerts div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.farm-alerts div:last-child {
  margin: 2rem;
  flex: 2;
} */
/* .farm-alerts h2 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
.farm-alerts p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.farm-alerts p:last-of-type {
  margin-bottom: 10px;
} */

/* .farm-alerts:first-of-type div:first-child {
  background-image: url("./images/clock-33989_1280.png");
} */

/* .farm-alerts a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #2c5f2d;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
} */
.paragraph-intro {
  font-size: 1em;
  /* font-weight: bold; */
  color: #212529;
  /* background-color: #2c5f2d; */
  margin-bottom: 20px;
  display: inline;
}

.home-page-flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0px 20px 0px;
  border: #04699d 1px solid;
  height: auto;
  background-color: #eeecec;
  gap: 20px;
}

#herd_management_paragraph {
  font-size: 1em;
  /* font-weight: bold; */
  color: white;
  background-color: #2c5f2d;
  margin-bottom: 20px;
}
.slurryTankInformation {
  display: list-item;
  margin-left: 50px;
  padding: 0;
  font-size: 1em;
  list-style-type: decimal;
}

.slurryTankInformationListItem {
  /* margin-bottom: 10px 0px 10px 0px;
  padding: 0; */
  display: list-item;
  list-style: decimal;
  margin-bottom: 10px;
}

.slurryTankInformationListItem:last-child {
  margin-bottom: 0px;
}
/*  ========= Styling Specific to Contact Us page  ========= */
#registration-page {
  height: 100%;
  background: #78a7ba;
  border: #04699d 1px solid;
}
/* main {
  height: 50%;
} */

/*  ========= Styling Specific to About Us page  ========= */
.contact-us-container {
  display: flex;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 500px;
  margin: 20px auto;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/*  ========= Styling Specific to Winter Fodder Management  ========= */
.grid-001,
.grid-002,
.grid-003,
.grid-004 {
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bold;
}
.silageCalc {
  /* display: block; */
  /* flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;  */
  margin: 50px;
  /* border: #04699d 1px solid; */
  background-color: #fff;
  max-width: 600px;
}

.Container_Silage {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: #04699d 1px solid; */
  height: auto;
  width: 98%;
  border-bottom: #04699d 5px solid;
}

.input_silage {
  max-width: 80px;
  height: 50px;
}
.label_silage {
  max-width: 200px;
  /* height: 50px; */
  font-size: 80%;
  /* padding-bottom: 20px; */
  font-weight: bold;
  color: #04699d;
  /* text-justify: left-align; */
  /* margin: 10px; */
}
.span_silage {
  font-size: 80%;
  color: #04699d;
  font-weight: bold;
}

.Container_Silage_Calculation button {
  width: 80%;
  display: block;
}

.Container_Silage_Calculation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around;
  margin: 20px;
  border: #04699d 1px solid;
  height: auto; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  /* width: 200px; */
  margin-bottom: 20px;
  border: #567f57 1px solid;
  /* background-color: #567f57; */
  row-gap: 5px;
  column-gap: 5px;
}

.grid-item {
  background-color: #567f57;
  color: #fff;
  text-align: left;
  padding: 20px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  font-size: 90%;
}

.flex-container {
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* Have a gap between the two flex-item buttons */
  gap: 10px;
  height: auto;
  background-color: #eeecec;
}

.flex-container button {
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  background-color: #2c5f2d;
}

.flex-container p {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 150%;
}

.button-silage-calculation {
  /* Having all the elements expand to fill the emtpy space */
  flex-grow: 1;
}

/* #total_silage_required_tonnes {
  padding-bottom: 50px; */
/* max-width: 200px; */

.title-herd-management {
  background: #f7f0f0;
  margin: 10px;
  color: #000;
  padding: 20px;
  border: 1px dotted maroon;
  width: 240px;
  display: flex;
  flex-direction: column;
}

.register {
  background: #f6f3ed;
  margin: 10px;
  padding: 20px;
  border: 1px dotted maroon;
  width: 240px;
  display: flex;
  flex-direction: column;
}

/* Specific style for RegisterCow.html */
.register_button {
  /* background-color: #087f5b; */
  background-color: #2c5f2d;
  color: white;
  cursor: pointer;
  margin: auto;
}
.register_button:hover {
  /* background-color: #75cf89; */
  background-color: #087f5b;
  color: white;
  cursor: pointer;
}
.register_button:active {
  background-color: #04699d;
  color: white;
  cursor: pointer;
}
/* .register_button:focus {
  background-color: #04699d;
  color: white;
  cursor: pointer;
} */
.register_button:visited {
  background-color: #04699d;
  color: white;
  cursor: pointer;
}

.buttonfx:hover {
  background-color: #04699d;
  color: white;
}

.btn_register_cow:hover {
  background-color: #75cf89;
  color: white;
  cursor: pointer;
}

.flex-container-herd-mgt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/*  ========= Styling Specific to Slurry Management Web Page ==*/
.grid-container-slurry {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* width: 50%; */
  /* grid-gap: 10px; */
  /* width: 200px; */
  margin-bottom: 20px;
  border: #567f57 1px solid;
  row-gap: 10px;
  column-gap: 2px;
  color: #013301;
}
/* Format tjhe Headings of the Grid */
.slurry-grid-001,
.slurry-grid-002,
.slurry-grid-003,
.slurry-grid-004,
.slurry-grid-005 {
  /* text-transform: capitalize; */
  text-decoration: underline;
  font-weight: bold;
}
/* Aligns thevtwo buttons */
.button-slurry-tank-calculation-clear {
  grid-column-start: 1;
  grid-column-end: span 5;
  /* grid-row-start: 3;
  grid-column-start: 2; */
  max-width: 200px;
  /* flex-grow: 1; */
}

/*Formatting of the Grid Items */
.slurry-tank-grid-item {
  background-color: #567f57;
  color: #fff;
  text-align: left;
  padding: 20px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  font-size: 90%;
  max-width: 200px;
}
/* Formats the buttons */
.input_slurry_tank_metric {
  max-width: 100px;
  height: 3rem;
}

.input_slurry {
  max-width: 100px;
  height: 50px;
  text-align: center;
}
.flex-container-total-slurry-farm-capacity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* Have a gap between the two flex-item buttons */
  gap: 10px;
  height: auto;
  background-color: #eeecec;
}
#total-slurry-storage-required-paragraph {
  text-align: center;
  font-weight: bold;
}
#final-slurry-required {
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
  color: #04699d;
}

#calculate-slurry-capacity {
  background-color: #2c5f2d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#calculate-slurry-capacity-clear {
  background-color: #04699d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
/***********************************************/
/* Contact Us Form */
/***********************************************/
/* Form Dimensions and Styling*/

#form-contact-us {
  /* border: #04699d 1px solid; */
  max-width: 50em;
  background-color: #f7f7f7;
  display: block;
  border-radius: 10px;
  border: 1px solid #666;
  background-color: #eaefea;
  /* color: #666; /* Text color for the header */
  /* padding: 20px 0 10px 0; */
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 50px; */
}

/* CSS Media Queries for flex */
@media screen and (max-width: 800px) {
  .flex div {
    flex: 1 !important;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    color: red;
  }
}

@media screen and (max-width: 450px) {
  .flex {
    flex-direction: column;
  }
  .flex div:first-child {
    min-height: 200px;
  }
}
*/

/* CSS queries for .flex-herd-management */
@media screen and (max-width: 800px) {
  .flex-herd-management div {
    flex: 1 !important;
  }
}

@media screen and (max-width: 450px) {
  .flex-herd-management {
    flex-direction: column;
  }
}
/* CSS queries for .Agri_iot */
@media screen and (max-width: 800px) {
  .agri-iot div {
    flex: 1 !important;
  }
}

@media screen and (max-width: 450px) {
  .agri-iot {
    flex-direction: column;
  }
}

/* .slurry-management */
@media screen and (max-width: 800px) {
  .slurry-management div {
    flex: 1 !important;
  }
}

@media screen and (max-width: 450px) {
  .slurry-management {
    flex-direction: column;
  }
}

/* .winter-fodder-management */
@media screen and (max-width: 800px) {
  .winter-fodder-management div {
    flex: 1 !important;
  }
}
@media screen and (max-width: 450px) {
  .winter-fodder-management {
    flex-direction: column;
  }
}

/*.time-management */
@media screen and (max-width: 800px) {
  .time-management div {
    flex: 1 !important;
  }
}
@media screen and (max-width: 450px) {
  .time-management {
    flex-direction: column;
  }
}

.slurryTankInformation {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
}

/***********************************************/
/* GENERAL REUSABLE COMPONENTS */
/***********************************************/

.btn:link,
.btn:visited {
  display: inline-block;
  /* background-color: #2c5f2d; */
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 9px;
}

.btn--mainbtn:link,
.btn--mainbtn:visited {
  background-color: #2c5f2d;
  color: #fff;
}
.btn--mainbtn:hover,
.btn--mainbtn:active {
  background-color: #285629;
  color: #fff;
}

.btn--secondarybtn:link,
.btn--secondarybtn:visited {
  background-color: #fff;
  color: #555;
}

.btn--secondarybtn:hover,
.btn--secondarybtn:active {
  background-color: #fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}
/* Helper function */
.margin-right-sm {
  margin-right: 1rem !important;
}

/***********************************************/
/* HERO SECTION */
/***********************************************/

/* Testing the index.html page */
.hero {
  max-width: 82rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.section-hero {
  padding: 10rem 0;
  background-color: #f7f7f7;
}

.primary-heading {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
}

.hero-img {
  width: 100%; /* 100% of the parent container which is the "hero-img-box* which is one of the columns of the grid*/
}

#calf-image {
  max-width: 100%;
}
#cow-image {
  max-width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 6px 16px 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  /* background-color: red; */
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #416f42;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* CSS Media Queries to NAV for all pages */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .primary-nav ul {
    display: none;
  }
  .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* position: absolute; */
    top: 120px; /* Adjust as needed */
    background-color: #333;
    z-index: 1;
  }
  .navbar.active li {
    margin: 20px 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }
}
